<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#0f0f0f] text-white p-8">

<h1 class="text-3xl mb-8 font-bold">Kitchen Dashboard</h1>

<div class="grid md:grid-cols-3 gap-6">

{% for order in orders %}
<div id="order-{{ order.id }}"
class="bg-[#1a1a1a] p-6 rounded-xl shadow-lg border border-gray-800">

<h2 class="text-xl font-semibold mb-1">
Order #{{ order.id }}
</h2>

<p class="text-gray-400 mb-1">Table {{ order.table.number }}</p>

<p class="text-sm text-gray-500 mb-3">
<span class="order-time" data-time="{{ order.created_at }}"></span>
</p>

<p class="mb-4 font-semibold
{% if order.status == 'confirmed' %} text-blue-400
{% elif order.status == 'preparing' %} text-purple-400
{% endif %}">
{{ order.status|title }}
</p>

<ul class="mb-4 text-gray-300">
{% for item in order.orderitem_set.all %}
<li>{{ item.item.name }} ×{{ item.quantity }}</li>
{% endfor %}
</ul>

<div class="flex gap-3">

{% if order.status == 'confirmed' %}
<a href="/update-status/{{ order.id }}/preparing/"
class="bg-purple-600 hover:bg-purple-700 px-4 py-2 rounded">
Start Preparing
</a>

{% elif order.status == 'preparing' %}
<a href="/update-status/{{ order.id }}/served/"
class="bg-green-600 hover:bg-green-700 px-4 py-2 rounded">
Mark Served
</a>
{% endif %}

</div>

</div>
{% endfor %}

</div>

<audio id="notification-sound">
<source src="https://actions.google.com/sounds/v1/alarms/beep_short.ogg">
</audio>

<script>

let highestOrderId = 0

document.querySelectorAll("[id^='order-']").forEach(el=>{
const id = parseInt(el.id.replace("order-",""))
if(id>highestOrderId) highestOrderId=id
})

function checkNewOrders(){

fetch("/kitchen-data/")
.then(res=>res.json())
.then(data=>{

data.orders.forEach(order=>{
if(order.id>highestOrderId){

highestOrderId=order.id

document.getElementById("notification-sound").play()

setTimeout(()=>{
location.reload()
},800)

}

})

})

}

setInterval(checkNewOrders,5000)

/* order timer */

function updateTimers(){

document.querySelectorAll(".order-time").forEach(el=>{

const created = new Date(el.dataset.time)
const now = new Date()

const diff = Math.floor((now-created)/60000)

el.innerText = diff+" min ago"

})

}

setInterval(updateTimers,60000)
updateTimers()

</script>

</body>
</html>