<!DOCTYPE html>
<html>
<head>

<script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-[#0f0f0f] min-h-screen flex items-center justify-center">

<div class="bg-[#1a1a1a] p-10 rounded-xl shadow-xl text-center w-[420px]">

<h1 class="text-2xl font-semibold text-white mb-6">
Order #{{ order.id }}
</h1>

<p class="text-gray-400 mb-4">
Table {{ order.table.number }}
</p>

<div class="text-xl font-semibold

{% if order.status == 'pending_payment' %}
text-red-400
{% elif order.status == 'confirmed' %}
text-blue-400
{% elif order.status == 'preparing' %}
text-purple-400
{% elif order.status == 'served' %}
text-green-400
{% endif %}
">

{{ order.status|title }}

</div>

<p class="mt-6 text-gray-400">

{% if order.status == 'pending_payment' %}
Waiting for payment confirmation

{% elif order.status == 'confirmed' %}
Kitchen will start shortly

{% elif order.status == 'preparing' %}
Your meal is being prepared

{% elif order.status == 'served' %}
Order served. Enjoy!

{% endif %}

</p>

</div>

<script>

setInterval(()=>{
location.reload()
},5000)

</script>

</body>
</html>